/*--------------------------------------------Init Variable Settings--------------------------------*/
/*--------------------------------------------Init Variable Settings--------------------------------*/
:root {

    --background-color: rgba(236, 240, 241, 1.0);

    --main-color-black: rgba(0, 0, 0, 1);

    --shape-color-triangle: rgba(24, 220, 255, 1.0);
    --shape-color-regtangle: rgba(205, 132, 241, 1.0);
    --shape-color-square: rgba(255, 242, 0, 1.0);

    --menu-color: rgba(255, 204, 204, 1);

    --menu-palett-color1: rgba(46, 204, 113, 1.0);
    --menu-palett-color2: rgba(22, 160, 133, 1.0);
    --menu-palett-color3: rgba(142, 68, 173, 1.0);
    --menu-palett-color4: rgba(241, 196, 15, 1.0);
    --menu-palett-color5: rgba(230, 126, 34, 1.0);
    --menu-palett-color6: rgba(149, 165, 166, 1.0);
    --menu-palett-color7: rgba(211, 84, 0, 1.0);
    --menu-palett-color8: rgba(192, 57, 43);

    --btn-on: rgba(58, 227, 116, 1.0);
    --btn-on-hover: rgba(50, 255, 126, 1.0);
    --btn-off: rgba(255, 56, 56);
    --btn-off-hover: rgba(255, 77, 77);

}

/*--------------------------------------------Init Settings--------------------------------*/
/*--------------------------------------------Init Settings--------------------------------*/
/*--------------------------------------------Init Settings--------------------------------*/
/*--------------------------------------------Init Settings--------------------------------*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-weight: 300;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

/*--------------------------------------------Document main tags--------------------------------*/
/*--------------------------------------------Document main tags--------------------------------*/
/*--------------------------------------------Document main tags--------------------------------*/
/*--------------------------------------------Document main tags--------------------------------*/
/*--------------------------------------------Document main tags--------------------------------*/
/*--------------------------------------------Document main tags--------------------------------*/
/*--------------------------------------------Document main tags--------------------------------*/

header {
    display: flex;
}

h1 {
    font-size: 4.5rem;
    padding: 1rem 3rem;

}

main {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}

footer {
    color: var(--main-color-black);
    display: flex;
}

/*--------------------------------------------Document main Classes--------------------------------*/
/*--------------------------------------------Document main Classes--------------------------------*/
/*--------------------------------------------Document main Classes--------------------------------*/
/*--------------------------------------------Document main Classes--------------------------------*/
/*--------------------------------------------Document main ID--------------------------------*/

.cointainer {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.color__div {
    background: var(--menu-color);
    position: fixed;
    top: 50%;
    left: 0;
    max-height: 100%;
    z-index: 10000;
    padding: 1.5rem 1rem;
    border-radius: 0 .5rem .5rem 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

#target {
    width: 30rem;
    height: 30rem;
    position: relative;
    background-color: rgba(255,255,255,1);
    border: 3px solid var(--main-color-black);
    box-sizing: content-box;

}

/*--------------------------------------------Color picker--------------------------------*/
/*--------------------------------------------Color picker--------------------------------*/
/*--------------------------------------------Color picker--------------------------------*/
/*--------------------------------------------Color picker--------------------------------*/
/*--------------------------------------------Color picker--------------------------------*/
/*--------------------------------------------Color picker--------------------------------*/

.color {
    width: 3rem;
    height: 3rem;
    margin: .5rem;
}

.color1 {
    background-color: var(--menu-palett-color1);

}

.color2 {
    background-color: var(--menu-palett-color2);
}

.color3 {
    background-color: var(--menu-palett-color3);

}

.color4 {
    background-color: var(--menu-palett-color4);
}

.color5 {
    background-color: var(--menu-palett-color5);
}

.color6 {
    background-color: var(--menu-palett-color6);
}

.color7 {
    background-color: var(--menu-palett-color7);
}

.color8 {
    background-color: var(--menu-palett-color8);
}

/*--------------------------------------------Shapes---------------------------------------*/
/*--------------------------------------------Shapes---------------------------------------*/
/*--------------------------------------------Shapes---------------------------------------*/
/*--------------------------------------------Shapes---------------------------------------*/
/*--------------------------------------------Shapes---------------------------------------*/
/*--------------------------------------------Shapes---------------------------------------*/

.square {
    width: 6rem;
    height: 6rem;
    border: 2px solid var(--main-color-black);
    background-color: var(--shape-color-square);
}

#triangle {
    width: 8rem;
    height: 8rem;
}

.triangle {
    fill: var(--shape-color-triangle);
    stroke: var(--main-color-black);
    stroke-width: 2px;
}

svg {
    width: 100%;
    height: 100%;
}

.triangle[style] {
    stroke: var(--main-color-black);
    stroke-width: 2px;
}

.rectangle {
    width: 8rem;
    height: 4rem;
    border: 2px solid var(--main-color-black);
    background-color: var(--shape-color-regtangle);
}

/*--------------------------------------------BTN--------------------------------*/
/*--------------------------------------------BTN--------------------------------*/
/*--------------------------------------------BTN--------------------------------*/
/*--------------------------------------------BTN--------------------------------*/

.switch {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.btn {
    all: unset;
    padding: 0 2rem;
    font-size: 2rem;
    border-radius: 0.3rem;
    color: var(--main-color-black);
    cursor: pointer;
    height: fit-content;

}

.btn-on {
    background-color: var(--btn-on);
}

.btn-on:hover {
    background-color: var(--btn-on-hover);
    box-shadow: 2px 4px 7px var(--btn-on) inset;
}

.btn-off {

    background-color: var(--btn-off);
}

.btn-off:hover {
    background-color: var(--btn-off-hover);
    box-shadow: 2px 4px 7px var(--btn-off) inset;
}

.btn-or {
    position: relative;
}

.btn-or:after {
    content: 'OR';
    position: absolute;
    z-index: 11;
    background-color: rgba(255,255,255,1);
    font-size: 0.8rem;
    padding: .7rem;
    border-radius: 50%;
    left: -1.15rem;
    box-shadow: 2px 4px 7px rgb(201, 199, 203) inset;

}

.linethrough {
    text-decoration: line-through;

}
